@font-face {
    font-family: Roboto;
    src: url("../static/fonts/Roboto.ttf");
}

@font-face {
    font-family: Roboto-medium;
    src: url("../static/fonts/Robotomedium.ttf");
    font-weight: bold;
}

body {
    font-family: Roboto, sans-serif;
    color: #052C65;
}

.pages-title {
    font-family: Roboto-medium, sans-serif;
    font-size: 40px;
}

.card-body-view {
    max-width: 352px;
    height: 121px;
}

.card-body > .card-title {
    font-family: Roboto-medium, sans-serif;
    font-size: 28px;
}

.card-body input {
    max-width: 397px;
}

.card-button {
    font-family: Roboto-medium, sans-serif;
    font-size: 14px;
    padding: 11px 16px 11px 16px;
}

.card-popup-title {
    font-family: Roboto-medium, sans-serif;
    font-size: 20px;
    max-width: 450px;
    justify-self: center;
}

.filter-date-from input, .filter-date-to input {
    width: 130px;
}

.filter-date-from input:focus, .filter-date-to input:focus {
    border-color: black;
    box-shadow: none;
}

.filter-date {
    padding: 0 0 140px 60px;
}

.filter-date button {
    width: 100px;
    font-family: Roboto-medium, sans-serif;
    font-size: 16px;
}

.table-action-list {
    max-width: 1101px;
    padding: 0 0 0 60px;
}