@font-face {
  font-family: Roboto;
  src: url("../static/fonts/Roboto.ttf");
}

@font-face {
  font-family: Roboto-medium;
  src: url("../static/fonts/Robotomedium.ttf");
  font-weight: bold;
}

body {
  font-family: Roboto, sans-serif;
}

.form-title {
  font-size: 40px;
  font-family: Roboto-medium, sans-serif;
  color: #052C65;
}

#email, #password {
  font-size: 15px;
}

#formCheckLabel, #goToSignUp {
  font-size: 12px;
}

#button {
  font-size: 15px;
  font-family: Roboto-medium, sans-serif;
}

.form-signin {
  width: 397px;
}

.input-group-text > i {
  width: 14px;
}

.input-data {
  height: 38px;
}

/*.was-validated .form-check-input:valid:checked {*/
/*  background-color: #0D6EFD;*/
/*  box-shadow: none;*/
/*}*/
