@font-face {
    font-family: Roboto;
    src: url("../static/fonts/Roboto.ttf");
}

@font-face {
    font-family: Roboto-medium;
    src: url("../static/fonts/Robotomedium.ttf");
    font-weight: bold;
}

body {
    font-family: Roboto, sans-serif;
}

.sidebar-css {
    width: 230px;
    height: 100vh;
    border-right: 2px solid #dee2e6;
}

.nav-link-font14 {
    font-size: 14px;
}

.nav-link-icon-css {
    width: 20px;
    font-size: 16px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item:hover {
    background-color: #0D6EFD;
    opacity: 90%;
}





.balance {
    font-family: Roboto-medium, sans-serif;
    list-style: none;
    padding: 0;
    text-align: start;
}