<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание категории доходов</title>
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../../src/styles/fontawesome.all.min.css">
    <link rel="stylesheet" href="../../../../src/styles/incomes-spendings.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1 class="pages-title row row-cols-1 row-cols-md-3 text-center mx-3 mt-5 mb-0 p-5">Создание категории доходов</h1>

<div class="row row-cols-1 row-cols-md-3 rounded-3 text-center ms-3 px-5">
    <div class="card-body text-start">
        <input type="text" class="form-control mb-4" placeholder="Название...">
        <button type="button" class="card-button btn btn-lg btn-success me-2">Создать</button>
        <button type="button" class="card-button btn btn-lg btn-danger">Отмена</button>
    </div>
</div>

<script src="../../../../node_modules/bootstrap/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>
</html>