<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Доходы и расходы</title>
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../../src/styles/fontawesome.all.min.css">
    <link rel="stylesheet" href="../../../../src/styles/incomes-spendings.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1 class="pages-title row row-cols-1 row-cols-md-3 text-center mx-3 mt-5 mb-0 p-5">Доходы и расходы</h1>

<div class="row row-cols-1 row-cols-md-3 rounded-3 text-center ms-3 px-5">
    <div class="card-body text-start">
        <button type="button" class="card-button btn btn-lg btn-success me-2">Создать доход</button>
        <button type="button" class="card-button btn btn-lg btn-danger">Создать расход</button>
    </div>
</div>

<div class="filter-date ms-1 py-5">
    <button type="button" class="filter-date-today btn btn-outline-secondary me-3">Сегодня</button>
    <button type="button" class="filter-date-week btn btn-outline-secondary me-3">Неделя</button>
    <button type="button" class="filter-date-month btn btn-outline-secondary me-3">Месяц</button>
    <button type="button" class="filter-date-year btn btn-outline-secondary me-3">Год</button>
    <button type="button" class="filter-date-all btn btn-outline-secondary me-3">Все</button>
    <button type="button" class="filter-date-interval btn btn-outline-secondary me-3">Интервал</button>
    <span class="align-self-center me-3 d-inline">c </span>
    <span class="filter-date-from d-inline align-self-center">
                <span class="form-group d-inline">
                    <input type="date" class="form-control d-inline text-secondary" id="inputDateFrom">
                </span>
            </span>
    <span class="align-self-center mx-3 d-inline"> по </span>
    <span class="filter-date-to d-inline align-self-center">
           <span class="form-group d-inline w-25">
               <input type="date" class="form-control d-inline text-secondary" id="inputDateTo">
           </span>
    </span>
</div>






<div class="table-action-list table-responsive small text-center">
    <table class="table table-sm">
        <thead class="col col-4">
        <tr>
            <th scope="col" style="width: 80px">№ операции</th>
            <th scope="col" style="width: 80px">Тип</th>
            <th scope="col" style="width: 150px">Категория</th>
            <th scope="col" style="width: 100px">Сумма</th>
            <th scope="col" style="width: 100px">Дата</th>
            <th scope="col" style="width: 530px">Комментарий</th>
            <th scope="col" style="width: 60px"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td style="color: #00c054">доход</td>
            <td>зарплата</td>
            <td>500$</td>
            <td>11.09.2022</td>
            <td></td>
            <td><i class="fa-solid fa-trash-can me-2"></i> <i class="fa-solid fa-pencil"></i></td>
        </tr>
        <tr>
            <td>2</td>
            <td style="color: red">расход</td>
            <td>жильё</td>
            <td>2 500$</td>
            <td>12.09.2022</td>
            <td></td>
            <td><i class="fa-solid fa-trash-can me-2"></i> <i class="fa-solid fa-pencil"></i></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="../../../../node_modules/bootstrap/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>
</html>