<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расходы</title>
    <link rel="stylesheet" href="../../../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../../src/styles/fontawesome.all.min.css">
    <link rel="stylesheet" href="../../../../src/styles/incomes-spendings.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<h1 class="pages-title row row-cols-1 row-cols-md-3 mb-3 text-center m-3 p-5">Расходы</h1>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center m-0 p-5">
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body card-body-view p-3 text-start">
                <h2 class="card-title pricing-card-title text-start">Еда</h2>
                <button type="button" class="card-button btn btn-lg btn-primary me-2">Редактировать</button>
                <button type="button" class="card-button btn btn-lg btn-danger">Удалить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body card-body-view p-3 text-start">
                <h2 class="card-title pricing-card-title text-start">Жилье</h2>
                <button type="button" class="card-button btn btn-lg btn-primary me-2">Редактировать</button>
                <button type="button" class="card-button btn btn-lg btn-danger">Удалить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body card-body-view p-3 text-start">
                <h2 class="card-title pricing-card-title text-start">Здоровье</h2>
                <button type="button" class="card-button btn btn-lg btn-primary me-2">Редактировать</button>
                <button type="button" class="card-button btn btn-lg btn-danger">Удалить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body card-body-view p-3 text-start">
                <h2 class="card-title pricing-card-title text-start">Кафе</h2>
                <button type="button" class="card-button btn btn-lg btn-primary me-2">Редактировать</button>
                <button type="button" class="card-button btn btn-lg btn-danger">Удалить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body card-body-view p-3 text-start">
                <h2 class="card-title pricing-card-title text-start">Авто</h2>
                <button type="button" class="card-button btn btn-lg btn-primary me-2">Редактировать</button>
                <button type="button" class="card-button btn btn-lg btn-danger">Удалить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body card-body-view p-3 text-start">
                <h2 class="card-title pricing-card-title text-start">Одежда</h2>
                <button type="button" class="card-button btn btn-lg btn-primary me-2">Редактировать</button>
                <button type="button" class="card-button btn btn-lg btn-danger">Удалить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body card-body-view p-3 text-start">
                <h2 class="card-title pricing-card-title text-start">Развлечения</h2>
                <button type="button" class="card-button btn btn-lg btn-primary me-2">Редактировать</button>
                <button type="button" class="card-button btn btn-lg btn-danger">Удалить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body card-body-view p-3 text-start">
                <h2 class="card-title pricing-card-title text-start">Счета</h2>
                <button type="button" class="card-button btn btn-lg btn-primary me-2">Редактировать</button>
                <button type="button" class="card-button btn btn-lg btn-danger">Удалить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body card-body-view p-3 text-start">
                <h2 class="card-title pricing-card-title text-start">Спорт</h2>
                <button type="button" class="card-button btn btn-lg btn-primary me-2">Редактировать</button>
                <button type="button" class="card-button btn btn-lg btn-danger">Удалить</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <a href="javascript:void(0)"
               class="card-body card-body-view p-3 align-content-center align-self-center justify-content-center">
                <i class="fa-solid fa-plus align-self-center justify-content-center text-secondary"></i></a>
        </div>
    </div>
</div>

<div class="col w-50">
    <div class="card mb-4 rounded-3 shadow-sm px-5 py-4 d-inline-block">
        <div class="text-center py-2">
            <h2 class="card-popup-title pricing-card-title mx-auto mb-4">Вы действительно хотите удалить категорию?</h2>
            <button type="button" class="card-button btn btn-lg btn-success me-2">Да, удалить</button>
            <button type="button" class="card-button btn btn-lg btn-danger">Не удалять</button>
        </div>
    </div>
</div>

<script src="../../../../node_modules/bootstrap/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>
</html>