<h1 class="pages-title">Доходы</h1>

<div class="cards-css row row-cols-1 row-cols-md-3">
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Депозиты</h2>
            <a href="#/incomes-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Зарплата</h2>
            <a href="#/incomes-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Сбережения</h2>
            <a href="#/incomes-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Инвестиции</h2>
            <a href="#/incomes-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <a href="#/incomes-create"
           class="card-body card-body-view align-content-center text-center w-100">
            <i class="fa-solid fa-plus text-secondary"></i>
        </a>
    </div>
</div>

<div class="incomes-popup col">
    <div class="card mb-4 rounded-3 shadow-sm px-5 py-4 d-inline-block">
        <div class="text-center py-2">
            <h2 class="card-popup-title pricing-card-title mx-auto mb-4">Вы действительно хотите удалить категорию?
                Связанные доходы будут удалены навсегда.</h2>
            <button type="button" class="card-button btn btn-lg btn-success me-2">Да, удалить</button>
            <button type="button" class="card-button btn btn-lg btn-danger">Не удалять</button>
        </div>
    </div>
</div>
