<h1 class="pages-title">Расходы</h1>

<div class="cards-css row row-cols-1 row-cols-md-3">
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Еда</h2>
            <a href="#/spendings-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Жилье</h2>
            <a href="#/spendings-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Здоровье</h2>
            <a href="#/spendings-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Кафе</h2>
            <a href="#/spendings-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Авто</h2>
            <a href="#/spendings-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Жилье</h2>
            <a href="#/spendings-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Одежда</h2>
            <a href="#/spendings-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Развлечения</h2>
            <a href="#/spendings-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Счета</h2>
            <a href="#/spendings-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <div class="card-body">
            <h2 class="card-title">Спорт</h2>
            <a href="#/spendings-edit" type="button" class="card-button btn btn-primary">Редактировать</a>
            <button type="button" class="card-button btn btn-danger">Удалить</button>
        </div>
    </div>
    <div class="card-css card rounded-3 shadow-sm">
        <a href="#/spendings-create"
           class="card-body card-body-view align-content-center text-center w-100">
            <i class="fa-solid fa-plus text-secondary"></i>
        </a>
    </div>
</div>

<div class="spendings-popup col w-50">
    <div class="card mb-4 rounded-3 shadow-sm px-5 py-4 d-inline-block">
        <div class="text-center py-2">
            <h2 class="card-popup-title pricing-card-title mx-auto mb-4">Вы действительно хотите удалить категорию?</h2>
            <button type="button" class="card-button btn btn-lg btn-success me-2">Да, удалить</button>
            <button type="button" class="card-button btn btn-lg btn-danger">Не удалять</button>
        </div>
    </div>
</div>
