<h1 class="pages-title">Расходы</h1>

<div class="cards-css row row-cols-1 row-cols-md-3" id="expenses-view-group">
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Еда</h2>-->
<!--            <a href="javascript:void(0)" type="button" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Жилье</h2>-->
<!--            <a href="javascript:void(0)" type="button" class="card-button btn btn-primary">Редактировать</a>-->
<!--           <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Здоровье</h2>-->
<!--            <a href="javascript:void(0)" type="button" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Кафе</h2>-->
<!--            <a href="javascript:void(0)" type="button" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Авто</h2>-->
<!--            <a href="javascript:void(0)" type="button" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Жилье</h2>-->
<!--            <a href="javascript:void(0)" type="button" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Одежда</h2>-->
<!--            <a href="javascript:void(0)" type="button" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Развлечения</h2>-->
<!--            <a href="javascript:void(0)" type="button" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Счета</h2>-->
<!--            <a href="javascript:void(0)" type="button" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Спорт</h2>-->
<!--            <a href="javascript:void(0)" type="button" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <a href="#/expenses-create"-->
<!--           class="card-body card-body-view align-content-center text-center w-100">-->
<!--            <i class="fa-solid fa-plus text-secondary"></i>-->
<!--        </a>-->
<!--    </div>-->
</div>

<div id="expenses-popup">
    <div class="col m-auto" id="expenses-popup-window">
        <div class="card rounded-3 shadow-sm px-4 py-4 m-auto">
            <div class="text-center py-2">
            <h2 class="card-popup-title pricing-card-title mx-auto mb-4">Вы действительно хотите удалить категорию?</h2>
            <a href="javascript:void(0)" class="card-button btn btn-lg btn-success me-2" id="expenses-popup-yes">Да, удалить</a>
            <a href="javascript:void(0)" class="card-button btn btn-lg btn-danger" id="expenses-popup-no">Не удалять</a>
        </div>
    </div>
</div>
</div>
