<h1 class="pages-title">Доходы</h1>

<div class="cards-css row row-cols-1 row-cols-md-3" id="incomes-view-group">
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Депозиты</h2>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Зарплата</h2>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Сбережения</h2>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <div class="card-body">-->
<!--            <h2 class="card-title">Инвестиции</h2>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-primary">Редактировать</a>-->
<!--            <a href="javascript:void(0)" class="card-button btn btn-danger">Удалить</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="card-css card rounded-3 shadow-sm">-->
<!--        <a href="#/incomes-create"-->
<!--           class="card-body card-body-view align-content-center text-center w-100">-->
<!--            <i class="fa-solid fa-plus text-secondary"></i>-->
<!--        </a>-->
<!--    </div>-->
</div>

<div id="incomes-popup">
    <div class="col m-auto" id="incomes-popup-window">
        <div class="card rounded-3 shadow-sm px-4 py-4 m-auto">
            <div class="text-center py-2">
                <h2 class="card-popup-title pricing-card-title mx-auto mb-4">Вы действительно хотите удалить
                    категорию?
                    Связанные доходы будут удалены навсегда.</h2>
                <a href="javascript:void(0)" class="card-button btn btn-lg btn-success me-2" id="incomes-popup-yes">Да, удалить</a>
                <a href="javascript:void(0)" class="card-button btn btn-lg btn-danger" id="incomes-popup-no">Не удалять</a>
            </div>
        </div>
    </div>
</div>
