<h1 class="pages-title">Редактирование дохода/расхода</h1>

<div class="cards-css row row-cols-1 row-cols-md-3 rounded-3">
    <div class="card-body">
<!--        <input type="text" class="form-control" id="operation-edit-type">-->
        <select class="form-control" id="operation-edit-type">
            <option value="income">Доход</option>
            <option value="expense">Расход</option>
        </select>
<!--        <input type="text" class="form-control">-->
        <select class="form-control" id="operation-edit-category">
            <option value="0" id="0">Категория...</option>
        </select>
        <input type="text" class="form-control" id="operation-edit-amount">
        <input type="date" class="form-control" id="operation-edit-date">
        <input type="text" class="form-control" id="operation-edit-comment">
        <a href="javascript:void(0)" class="card-button btn btn-success" id="operation-edit-request-button">Сохранить</a>
        <a href="#/incomes&expenses-view" type="button" class="card-button btn btn-danger">Отмена</a>
    </div>
</div>
