<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chart</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../src/styles/fontawesome.all.min.css">
    <link rel="stylesheet" href="../../../src/styles/dashboard.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<section>

    <div class="graph">
        <canvas id="myChart" width="437" height="467"></canvas>
    </div>



</section>




<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../components/dashboard.js"></script>
<!--<script src="../../../node_modules/chart.js/dist/chart.js"></script>-->

<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<!--<script src="../../components/dashboard.js"></script>-->

</body>
</html>
