<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header2</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../src/styles/fontawesome.all.min.css">
    <link rel="stylesheet" href="../../../src/styles/header2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<main>


    <nav>
        <div class="nav-right hidden-xs">
            <div class="button" id="btn">
                <div class="bar top"></div>
                <div class="bar middle"></div>
                <div class="bar bottom"></div>
            </div>
        </div>
        <!-- nav-right -->
    </nav>

<!--    <a href="https://codepen.io/tonkec/" class="ua" target="_blank">-->
<!--        <i class="fa fa-user"></i>-->
<!--    </a>-->
</main>

<div class="sidebar">
    <ul class="sidebar-list">
        <li class="sidebar-item"><a href="#" class="sidebar-anchor">Item 1</a></li>
        <li class="sidebar-item"><a href="#" class="sidebar-anchor">Item 2</a></li>
        <li class="sidebar-item"><a href="#" class="sidebar-anchor">Item 3</a></li>
        <li class="sidebar-item"><a href="#" class="sidebar-anchor">Item 4</a></li>
    </ul>
</div>





<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<!--<script src="../../../node_modules/chart.js/dist/chart.js"></script>-->

<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->

<script src="../../../src/styles/jquery-3.7.1.min.js"></script>
<script src="https://cdpn.io/cpe/boomboom/pen.js?key=pen.js-a7767fad-025b-cde3-5472-e9b237df72d4" crossorigin=""></script>

<script src="../../components/header2.js"></script>

</body>
</html>