<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header3</title>
    <link rel="stylesheet" href="../../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../../src/styles/fontawesome.all.min.css">
<!--    <link rel="stylesheet" href="../../../src/styles/header3.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<aside class="sidebar">
    <div id="leftside-navigation" class="nano">
        <ul class="nav nav-pills">
            <li class="sub-menu nav-item">
                <a href="javascript:void(0)" class="nav-link nav-link-font14"><span>Категории</span><i
                        class="arrow fa fa-angle-right pull-right"></i></a>
                <ul>
                    <li><a href="ui-alerts-notifications.html" class="nav-link nav-link-font14">Доходы</a>
                    </li>
                    <li><a href="ui-panels.html" class="nav-link nav-link-font14">Расходы</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</aside>


<script src="../../../node_modules/bootstrap/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
<script src="../../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<!--<script src="../../../node_modules/chart.js/dist/chart.js"></script>-->

<!--<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
<script src="../../../src/styles/jquery-3.7.1.min.js"></script>

<script src="https://cdpn.io/cpe/boomboom/pen.js?key=pen.js-a7767fad-025b-cde3-5472-e9b237df72d4"
        crossorigin=""></script>
<script src="../../components/header3.js"></script>

</body>
</html>